@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>

<div class="content text-center">
    <h2>Yu-Gi-Oh! DB</h2>

    <p>This project was designed to be a database for Yu-Gi-Oh players.</p>
    <p>
        Players are able to: 
        <br />
        look at cards
        <br />
        build their collection
        <br />
        <strong><i>keep track of their collection</i></strong>
        <br />
        and have the tools necessary when dueling,
        like flipping a coin, rolling dice, and keeping track of Life Point totals.
    </p>
    <p>It is meant to function similar to Yugipedia or YGO_Pro.</p>
</div>