@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>

<br />
<br />
<div class="content text-center">
    <h2><strong>Email: </strong>joryawernette@gmail.com</h2>
    <br />
    <h2><strong>GitHub: </strong>   <a href="https://github.com/JoryWernette" target="_blank">https://github.com/JoryWernette</a></h2>
    <br />
    <h2><strong>Linkedin :</strong> <a href="https://www.linkedin.com/in/jory-wernette" target="_blank">www.linkedin.com/in/jory-wernette</a></h2>
</div>
